PVM/PropertyVerificationWSDL/examples/case_b/hotelbooking_B_NotCompliant.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://booking.aniketos.eu/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HotelBookingService" targetNamespace="http://booking.aniketos.eu/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://booking.aniketos.eu/" elementFormDefault="unqualified" targetNamespace="http://booking.aniketos.eu/" version="1.0">
<xs:element name="bookHotel" type="tns:bookHotel"/>
<xs:element name="bookHotelResponse" type="tns:bookHotelResponse"/>
<xs:complexType name="bookHotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="hotelId" type="xs:string"/>
      <xs:element minOccurs="0" name="dateCheckIn" type="xs:string"/>
      <xs:element minOccurs="0" name="dateCheckOut" type="xs:string"/>
      <xs:element minOccurs="0" name="userIdentityInformation" type="xs:string"/>
      <xs:element minOccurs="0" name="creditCardData" type="xs:string"/>
      <xs:element minOccurs="0" name="roomPreferences" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="bookHotelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookingId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="bookHotel">
    <wsdl:part element="tns:bookHotel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookHotelResponse">
    <wsdl:part element="tns:bookHotelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HotelBooking">
    <wsdl:operation name="bookHotel">
      <wsdl:input message="tns:bookHotel" name="bookHotel">
    </wsdl:input>
      <wsdl:output message="tns:bookHotelResponse" name="bookHotelResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelBookingServiceSoapBinding" type="tns:HotelBooking">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bookHotel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bookHotel">
        <soap:body use="literal"/>
		<wsp:PolicyReference URI="#SymmetricBindingPolicy"/>
      </wsdl:input>
      <wsdl:output name="bookHotelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelBookingService">
    <wsdl:port binding="tns:HotelBookingServiceSoapBinding" name="HotelBookingPort">
      <soap:address location="http://localhost:60004/hotelbooking"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" wsu:Id="SymmetricBindingPolicy">
<wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" wsu:Id="example">
    <wsp:ExactlyOne>
        <wsp:All>
            <sp:SymmetricBinding>
                <wsp:Policy>
                    <sp:ProtectionToken>
                        <wsp:Policy>
                            <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                <wsp:Policy>
                                    <sp:RequireDerivedKeys/>
                                    <sp:RequireThumbprintReference/>
                                    <sp:WssX509V3Token10/>
                                </wsp:Policy>
                            </sp:X509Token>
                        </wsp:Policy>
                    </sp:ProtectionToken>
                    <sp:AlgorithmSuite>
                        <wsp:Policy>
                            <sp:Basic128Sha256Rsa15/>
                        </wsp:Policy>
                    </sp:AlgorithmSuite>
                    <sp:Layout>
                        <wsp:Policy>
                            <sp:Lax/>
                        </wsp:Policy>
                    </sp:Layout>
                    <sp:IncludeTimestamp/>
                    <sp:EncryptSignature/>
                    <sp:OnlySignEntireHeadersAndBody/>
                </wsp:Policy>
            </sp:SymmetricBinding>
            <sp:SignedParts>
                <sp:Body/>
                <sp:Header Name="To" Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
            </sp:SignedParts>
            <sp:EncryptedParts>
                <sp:Body/>
            </sp:EncryptedParts>
            <sp:Wss11>
                <wsp:Policy>
                    <sp:MustSupportRefKeyIdentifier/>
                    <sp:MustSupportRefIssuerSerial/>
                    <sp:MustSupportRefThumbprint/>
                    <sp:MustSupportRefEncryptedKey/>
                    <sp:RequireSignatureConfirmation/>
                </wsp:Policy>
            </sp:Wss11>
        </wsp:All>
    </wsp:ExactlyOne>
</wsp:Policy>

</wsp:Policy>
</wsdl:definitions>